<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>

	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
	
	<!-- 이곳에서 mapper.xml에서 쓸 풀클래스명(주로 vo클래스명)을 별칭으로 등록 (주의:프로젝트에 존재하는 클래스만 등록 가능)-->
	<!-- message : 여러분 ITtranet 쓸 때 오타 주의하세요!! 저 Ittranet으로 썼다가 오류나서 심장 떨어질 뻔 했어요... -->
	<typeAliases>
		<typeAlias type="com.h4j.ITtranet.employee.model.vo.Employee" alias="Employee"/>
		<typeAlias type="com.h4j.ITtranet.board.model.vo.Board" alias="Board"/>
		<typeAlias type="com.h4j.ITtranet.common.model.vo.Attachment" alias="Attachment"/>
		<typeAlias type="com.h4j.ITtranet.common.model.vo.Reply" alias="Reply"/>
		<typeAlias type="com.h4j.ITtranet.project.model.vo.Project" alias="Project"/>
		<typeAlias type="com.h4j.ITtranet.project.model.vo.Newsfeed" alias="Newsfeed"/>
		<typeAlias type="com.h4j.ITtranet.mail.model.vo.Mail" alias="Mail" />
		<typeAlias type="com.h4j.ITtranet.calendar.model.vo.Calendar" alias="Calendar"/>
		<typeAlias type="com.h4j.ITtranet.approval.model.vo.AppLine" alias="AppLine" />
		<typeAlias type="com.h4j.ITtranet.approval.model.vo.Approval" alias="Approval" />
		<typeAlias type="com.h4j.ITtranet.attendance.model.vo.Vacation" alias="Vacation" />
		<typeAlias type="com.h4j.ITtranet.attendance.model.vo.Attendance" alias="Attendance" />
		<typeAlias type="com.h4j.ITtranet.board.model.vo.Notice" alias="Notice" />

	</typeAliases>
	
	<!-- ERD피드백 받고 테이블 만들고 나서 db연결정보 root-context.xml에 작성 -->
	
	<!-- 사용할 mapper.xml 파일들 등록(프로젝트에 존재하고 + ★namespace지정되어 있는 mapper파일만 등록 가능) -->
	<mappers>
		<mapper resource="/mappers/member-mapper.xml"/>
		<mapper resource="/mappers/board-mapper.xml"/>
		<mapper resource="/mappers/project-mapper.xml" />
		<mapper resource="/mappers/newsfeed-mapper.xml" />
		<mapper resource="/mappers/mail-mapper.xml" />

		<mapper resource="/mappers/calendar-mapper.xml"/>

		<mapper resource="/mappers/approval-mapper.xml" />
		
		<mapper resource="/mappers/attendance-mapper.xml" />
		<mapper resource="/mappers/notice-mapper.xml" />
	</mappers>

</configuration>
