<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="attendanceMapper">
	
	<resultMap id="vacationResult" type="Vacation">
		<result column="vc_applyno" property="vcApplyNo" />
		<result column="emp_no" property="empNo" />
		<result column="vc_type" property="vcType" />
		<result column="vc_startdate" property="vcStartDate" />
		<result column="vc_enddate" property="vcEndDate" />
		<result column="vc_time" property="vcTime" />
		<result column="vc_sum" property="vcSum" />
		<result column="vc_content" property="vcContent" />
		<result column="file_path" property="filePath" />
		<result column="vc_enrolldate" property="vcEnrollDate" />
		<result column="apply_yn" property="applyYn" />
		<result column="vc_status" property="vcStatus" />
		
		<result column="emp_name" property="empName" />
		<result column="team_name" property="teamName" />
		<result column="rest_year" property="restYear" />
		<result column="rest_sick" property="restSick" />
		<result column="rest_month" property="restMonth" />
		
		<result column="origin_name" property="originName" />
		<result column="change_name" property="changeName" />
	</resultMap>
	
	<resultMap id="attendanceResult" type="Attendance">
		<result column="att_no" property="attNo" />
		<result column="emp_no" property="empNo" />
		<result column="att_date" property="attDate" />
		<result column="arrive_time" property="arriveTime" />
		<result column="leave_time" property="leaveTime" />
		<result column="stepout_time" property="stepoutTime" />
		<result column="outwork_time" property="outworkTime" />
		<result column="att_status" property="attStatus" />
		
		<result column="late_count" property="lateCount" />
		<result column="early_count" property="earlyCount" />
		<result column="day_count" property="dayCount" />
		<result column="work_sum" property="workSum" />
		<result column="absence_count" property="absenceCount" />
		
		<result column="emp_name" property="empName" />
		<result column="team_name" property="teamName" />
	</resultMap>
	
	
	<select id="selectListCount" resultType="_int">
		select
			   count(*)
		  from vacation_apply
		 where emp_no = #{empNo}
		   and apply_yn = 'Y'
	</select>
	
	<select id="selectUpVacationList" resultMap="vacationResult">
		select
			   vc_applyno
			 , emp_no
			 , vc_type
			 , vc_startdate
			 , vc_enddate
			 , vc_time
			 , vc_status
		  from vacation_apply
		 where emp_no = #{empNo}
		   and apply_yn = 'Y'
		   <!-- 휴가 신청 구현 후 수정하기!!! -->
		   and vc_startdate >= to_char(sysdate, 'MM/DD/YYYY')
		 order
		 	by vc_applyno desc
	</select>
	
	<select id="selectLastVacationList" resultMap="vacationResult">
		select
			   vc_applyno
			 , emp_no
			 , vc_type
			 , vc_startdate
			 , vc_enddate
			 , vc_time
			 , vc_status
		  from vacation_apply
		 where emp_no = #{empNo}
		   and apply_yn = 'Y'
		   and vc_startdate &lt; to_char(sysdate, 'MM/DD/YYYY')
		 order
		 	by vc_applyno desc
	</select>

	<select id="selectYetVacationListCount" resultType="_int">
		select
			   count(*)
		  from vacation_apply
		 where vc_status = '대기'
	</select>
	
	<select id="selectYetVacationList" resultMap="vacationResult">
		select
			   vc_applyno
			 , emp_no
			 , vc_type
			 , vc_startdate
			 , vc_enddate
			 , vc_status
			 , emp_name
			 , team_name
		  from vacation_apply
		  join employee using(emp_no) 
		  join team using(team_code)
		 where vc_status = '대기'
		 order
		 	by vc_applyno desc
	</select>
	 
	<select id="selectFinVacationListCount" resultType="_int">
		select
			   count(*)
		  from vacation_apply
		 where vc_status in ('승인', '반려')
	</select>
	
	<select id="selectFinVacationList" resultMap="vacationResult">
		select
			   vc_applyno
			 , emp_no
			 , vc_type
			 , vc_startdate
			 , vc_enddate
			 , vc_status
			 , emp_name
			 , team_name
		  from vacation_apply
		  join employee using(emp_no) 
		  join team using(team_code)
		 where vc_status in ('승인', '반려')
		 order
		 	by vc_applyno desc
	</select>
	
	<select id="selectAdminDayAttendanceCount" resultType="_int">
		select
			   count(*)
		  from attendance
		 where att_date = to_char(sysdate, 'MM/DD/YYYY')
	</select>
	
	<select id="selectAdminDayAttendance" resultMap="attendanceResult">
		select
			   att_no
			 , emp_no
			 , emp_name
			 , team_name
			 , att_date
			 , arrive_time
			 , leave_time
			 , stepout_time
			 , outwork_time
			 , att_status
		  from attendance
		  join employee using(emp_no)
		  join team using(team_code)
		  <!-- insert 구현 후 수정할것!!!! -->
		 where att_date = to_char(sysdate, 'MM/DD/YYYY')
		 order
		 	by att_no desc
	</select>
	
	<select id="selectAdminYear" resultMap="attendanceResult">
		select emp_no
			 , emp_name
			 , team_name
       		 , count(case when att_status='지각' then 1 end) AS "LATE_COUNT"
        	 , count(case when att_status='조퇴' then 1 end) AS "EARLY_COUNT"
        	 <!-- 총근무일수 나중에 수정할것!!!!! -->
        	 , 21 - (count(*)) as "ABSENCE_COUNT"
        	 , count(*) as "DAY_COUNT"
        	 , sum(round((to_date(leave_time, 'HH24:MI') - to_date(arrive_time, 'HH24:MI')) * 24, 1)) AS "WORK_SUM"
          from attendance
          join employee using(emp_no)
          join team using(team_code)
         where substr(att_date, 7, 4) = to_char(sysdate, 'YYYY')
         group 
            by emp_no, emp_name, team_name
         order 
            by emp_no
	</select>
	 
	<insert id="insertArrive">
		insert
		  into attendance
		  (
		  	att_no
		  , emp_no
		  , att_date
		  , arrive_time
		  )
		  values
		  (
		  	seq_attno.nextval
		  , #{empNo}
		  , to_char(sysdate, 'MM/DD/YYYY')
		  , to_char(sysdate, 'HH24:MI')
		  )
	</insert>
	
	<update id="updateArriveStatus">
		update attendance
    	   set att_status =
          case 
          when arrive_time &lt;= '09:00' then '정상'
          else '지각' end
         where emp_no = #{empNo}
	       and att_date = to_char(sysdate, 'MM/DD/YYYY')
	</update>
	
	<update id="updateLeave">
		update attendance
		   set 
		   	   leave_time = to_char(sysdate, 'HH24:MI')
         where emp_no = #{empNo}
           and att_date = to_char(sysdate, 'MM/DD/YYYY')
	</update>
	
	<update id="updateLeaveStatus">
		update attendance
		   set att_status = '조퇴'
		 where arrive_time &lt;= '18:00'
           and emp_no = #{empNo}
	       and att_date = to_char(sysdate, 'MM/DD/YYYY')
	</update>
	
	<update id="updateStepout">
		update attendance
		   set 
		   	   stepout_time = to_char(sysdate, 'HH24:MI')
         where emp_no = #{empNo}
           and att_date = to_char(sysdate, 'MM/DD/YYYY')
	</update>
	
	<update id="updateOutwork">
		update attendance
		   set 
		   	   outwork_time = to_char(sysdate, 'HH24:MI')
         where emp_no = #{empNo}
           and att_date = to_char(sysdate, 'MM/DD/YYYY')
	</update>
	
	<select id="ajaxSelectAttendance" resultMap="attendanceResult">
		select
			   att_no
			 , arrive_time
			 , leave_time
			 , stepout_time
			 , outwork_time
		  from attendance
		 where emp_no = #{empNo}
		   and att_date = to_char(sysdate, 'MM/DD/YYYY')
	</select>
	
	<select id="selectRestVacation" resultMap = "vacationResult">
		select emp_no
		     , nvl((select 15-sum(vc_sum)/8 
		          from vacation_apply
		         where vc_type = '연차'
		           and emp_no = #{empNo}),15) as "REST_YEAR"
		     , nvl((select 10-sum(vc_sum)/8 
		          from vacation_apply
		         where vc_type = '병가'
		           and emp_no = #{empNo}),10) as "REST_SICK"
		     , nvl((select 1-sum(vc_sum)/8 
		          from vacation_apply
		         where vc_type = '생리'
		           and emp_no = #{empNo}
		           and substr(vc_startdate, 1, 2) = to_char(sysdate, 'MM')),1) as "REST_MONTH"
		  from vacation_apply
		 where emp_no = #{empNo}
		   and substr(vc_startdate, 7, 4) = to_char(sysdate, 'YYYY')
		 group 
		    by emp_no	
	</select>
	
	<insert id="insertVacation">
		insert
		  into vacation_apply
		  (
		  	vc_applyno
		  , emp_no
		  , vc_type
		  , vc_startdate
		  , vc_enddate
		  , vc_time
		  , vc_content
		  , origin_name
		  , change_name
		  )
		  values
		  (
		  	seq_vcno.nextval
		  , #{empNo}
		  , #{vcType}
		  , #{vcStartDate}
		  , #{vcEndDate}
		  , #{vcTime}
		  , #{vcContent}
		  , #{originName}
		  , #{changeName}
		  )
	</insert>
	
	<update id="updateVacationSum">
		update vacation_apply
		   set vc_sum =
          case when vc_time='오전' then 4
           	   when vc_time='오후' then 4
           	   when vc_time='종일' then 8*(to_date(vc_enddate,'yyyy-mm-dd')-to_date(vc_startdate,'yyyy-mm-dd')) end
		 where emp_no = #{empNo}
           and vc_enrolldate = to_char(sysdate, 'yy/mm/dd')
	</update>
	
	<select id="selectVacationDetail" resultMap="vacationResult">
		select
			   vc_applyno
			 , vc_type
			 , emp_no
			 , vc_startdate
			 , vc_enddate
			 , vc_time
			 , vc_content
			 , origin_name
			 , change_name
			 , vc_enrolldate
			 , apply_yn
			 , vc_status
			 , emp_name
			 , team_name
		  from vacation_apply
		  join employee using(emp_no)
          join team using(team_code) 
         where vc_applyno = #{vcno}
	</select>
	
	
	
	
	
</mapper>