<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mailMapper">

	<resultMap id="mailSendResult" type="MailSend">
		<result column="send_mail_no" property="sendMailNo" />
		<result column="emp_no" property="empNo" />
		<result column="sender_account" property="senderAccount" />
		<result column="mail_title" property="mailTitle" />
		<result column="mail_content" property="mailContent" />
		<result column="send_date" property="sendDate" />
		<result column="tem_status" property="temStatus" />
		<result column="status" property="status" />
		<result column="wroteme_status" property="wrotemeStatus" />
	</resultMap>
	
	
	<resultMap id="mailReceiveResult" type="MailReceive">
		<result column="receive_mail_no" property="receiveMailNo" />
		<result column="send_mail_no" property="sendMailNo" />
		<result column="emp_no" property="empNo" />
		<result column="receiver_account" property="receiverAccount" />
		<result column="read" property="read" />
		<result column="important" property="important" />
		<result column="spam" property="spam" />
		<result column="status" property="status" />
	</resultMap>
	
	<select id="selectListCount" resultType="_int">
		select
			   count(*)
		  from mail_receive
		 where status = 'Y'
	</select>
	
	<select id="selectList" resultMap="mailReceiveResult">
				select 
                    receive_mail_no
                        , emp_name 
                        , mail_title
                        , send_date
                        , wroteme_status
                from(select 
                           receive_mail_no
                        , sd.emp_no sdpp
                        , mail_title
                        , send_date
                        , wroteme_status
                        from mail_receive rv
                         join mail_send sd using (send_mail_no)) a
                join employee on (sdpp = emp_no)
                where status = 'Y'
	</select>
	
</mapper>