<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mailMapper">

	<resultMap id="mailResult" type="Mail">
		<result column="receive_mail_no" property="receiveMailNo" />
		<result column="send_mail_no" property="sendMailNo" />
		<result column="sdpp" property="empNameSd" />
		<result column="sender_account" property="senderAccount" />
		<result column="receiver_account" property="receiverAccount" />
		<result column="mail_title" property="mailTitle" />
		<result column="send_date" property="sendDate" />
		<result column="tem_status" property="temStatus" />
		<result column="mail_content" property="mailContent" />
		<result column="statusSd" property="statusSd" />
		<result column="wroteme_status" property="wrotemeStatus" />
		<result column="read" property="read" />
		<result column="important" property="important" />
		<result column="spam" property="spam" />
		<result column="statusRv" property="statusRv" />
		<result column="rvpp" property="empNameRv" />
	</resultMap>
	
	<resultMap id="attachmentResult" type="Attachment">
		<result column="attachment_no" property="attachmentNo" />
		<result column="origin_name" property="originName" />
		<result column="change_name" property="changeName" />
		<result column="file_path" property="filePath" />
		<result column="ref_code" property="refCode" />
		<result column="ref_no" property="refNo" />
	</resultMap>

	
	<select id="selectListCount" resultType="_int">
		select
			   count(*)
		  from mail_receive
		 where status = 'Y'
		   and emp_no = #{empNo}
	</select>
	
	<select id="selectList" resultMap="mailResult">
    select send_mail_no
      , emp_name
      , mail_title
      , send_date
      , receiver_account
		from(
		select send_mail_no
		      , emp_name
		      , mail_title
		      , send_date
		      , receiver_account
		  from mail_send
		  join employee using(emp_no)
		  join mail_receive using(send_mail_no))
		  where receiver_account = #{email}
	</select>
	
	<select id="selectMail" resultMap="mailResult">
		select send_mail_no
      , sdpp
      , sender_account
      , mail_title
      , mail_content
      , send_date
      , wroteme_status
      , receiver_account
      , e2.emp_name rvpp
  from (select
                send_mail_no
              , emp_name sdpp
              , sender_account
              , mail_title
              , mail_content
              , send_date
              , wroteme_status
              , receiver_account
          from mail_send ms
          join employee e1 on (ms.emp_no = e1.emp_no)
          join mail_receive using(send_mail_no)) 
  join employee e2 on(receiver_account = e2.email)
  
	</select>
	
	
	<insert id="insertMailSd">
		insert
		  into mail_send
		     (
		       send_mail_no
          	 , emp_no
		  	 , sender_account
		  	 , mail_title
		  	 , mail_content
		  	 )
		values
		     (
		       seq_sdmno.nextval
		     , #{empNameSd}
		  	 , #{senderAccount}
		  	 , #{mailTitle}
		  	 , #{mailContent}
		     )
	</insert>
	<insert id="insertMailRv">
    	insert
          into mail_receive
             (
          	   receive_mail_no
          	 , send_mail_no
          	 , receiver_account
          	 )
        values
          	 (
          	   seq_rvmno.nextval
          	 , seq_sdmno.currval
          	 , #{receiverAccount}
          	 )
	</insert>
	<insert id="insertMailAttachment">
		insert
		  into attachment
		        (
		           attachment_no
		         , origin_name
		         , change_name
		         , file_path
		         , ref_code
		         , ref_no
		        )
		values
		        (
		          seq_atno.nextval
		        , #{originName}
		        , #{changeName}
		        , #{filePath}
		        , 'M'
		        , seq_sdmno.currval
		        )
	</insert>
	
	
</mapper>