<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mailMapper">

	<resultMap id="mailResult" type="Mail">
		<result column="send_mail_no" property="sendMailNo" />
		<result column="emp_no" property="empNoSd" />
		<result column="sender_account" property="senderAccount" />
		<result column="mail_title" property="mailTitle" />
		<result column="mail_content" property="mailContent" />
		<result column="send_date" property="sendDate" />
		<result column="tem_status" property="temStatus" />
		<result column="status" property="statusSd" />
		<result column="wroteme_status" property="wrotemeStatus" />
		<result column="receive_mail_no" property="receiveMailNo" />
		<result column="send_mail_no" property="sendMailNo" />
		<result column="emp_no" property="empNoRv" />
		<result column="receiver_account" property="receiverAccount" />
		<result column="read" property="read" />
		<result column="important" property="important" />
		<result column="spam" property="spam" />
		<result column="status" property="statusRv" />
	</resultMap>

	
	<select id="selectListCount" resultType="_int">
		select
			   count(*)
		  from mail_receive
		 where status = 'Y'
	</select>
	
	<select id="selectList" resultMap="mailResult">
		select 
               receive_mail_no
             , emp_name 
             , mail_title
             , send_date
             , wroteme_status
         from
         	  (select 
                      receive_mail_no
                    , sd.emp_no sdpp
                    , mail_title
                    , send_date
                    , wroteme_status
                 from mail_receive rv
                 join mail_send sd using (send_mail_no)) a
          join employee on (sdpp = emp_no)
         where status = 'Y'
	</select>
	
	<select id="selectMail" resultMap="mailResult">
		select
			   send_mail_no
			 , sdpp
			 , rvpp
			 , mail_title
			 , mail_content
			 , send_date
		  from
		  	   (select
					   send_mail_no
					 , sd.emp_no sdpp
					 , rv.emp_no rvpp
					 , mail_title
					 , mail_content
					 , send_date
				  from mail_receive rv
				  join mail_send sd using (send_mail_no)) a
				  join employee e on (sdpp = e.emp_no)
				  join employee e1 on (rvpp = e1.emp_no)
				 where send_mail_no = ?
	</select>
	
	
	<insert id="insertMailSend">
		insert
		  into mail_send
		     (
		       send_mail_no
          	 , emp_no
		  	 , sender_account
		  	 , mail_title
		  	 , mail_content
		  	 , send_date
		  	 , tem_status
          	 , status
          	 , wroteme_status
		  	 )
		values
		     (
		       seq_sdmno.nextval
		     , #{empName}
		  	 , #{senderAccount}
		  	 , #{mailTitle}
		  	 , #{mailContent}
		  	 , #{sendDate}
          	 , #{temStatus}
          	 , #{status}
          	 , #{wrotemeStatus}
		     )
	</insert>
	<insert id="insertMailReceive">
    	insert
          into mail_receive
             (
          	   receive_mail_no
          	 , send_mail_no
         	 , emp_no
          	 , receiver_account
          	 , read
          	 , important
          	 , spam
          	 , status
          	 )
        values
          	 (
          	   seq_rvmno.nextval
          	 , #{send_mail_no}
          	 , #{emp_no}
          	 , #{receiver_account}
          	 , #{read}
          	 , #{important}
          	 , #{spam}
          	 , #{status}
          	 )
	</insert>
	
</mapper>