<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
 
<mapper namespace="newsfeedMapper">
 
<resultMap id="NewsfeedList" type="Newsfeed">
	<result property="nfNo" column="nf_no"/>
	<result property="prNo" column="pr_no"/>
	<result property="empNo" column="emp_no"/>
	<result property="nfContent" column="nf_content"/>
	<result property="nfDate" column="nf_date"/>
	<result property="status" column="status"/>
	<result property="prTitle" column="pr_title"/>
	<result property="empName" column="emp_name"/>
	<result property="profile" column="profile"/>
	<result property="prLogo" column="pr_logo"/>
	<result property="originName" column="origin_name"/>
	<result property="changeName" column="change_name"/>
</resultMap>
 
<resultMap id="attachment" type="Attachment">
	<result property="attachmentNo" column="attachment_no"/>
	<result property="originName" column="origin_name"/>
	<result property="changeName" column="change_name"/>
	<result property="filePath" column="file_path"/>
	<result property="refCode" column="ref_code"/>
	<result property="refNo" column="ref_no"/>
</resultMap>

<resultMap id="replylist" type="Reply">
 	<result column="reply_no" property="replyNo" />
 	<result column="emp_no" property="empNo" />
 	<result column="ref_code" property="refCode" />
 	<result column="ref_no" property="refNo" />
 	<result column="reply_content" property="replyContent" />
  	<result column="create_date" property="createDate" />
 	<result column="status" property="status" />
 	<result column="emp_name" property="empName"  />
</resultMap>
 	
 <select id="selectNews" resultMap="NewsfeedList">
 	select
	 		nf_no,
	 		n.pr_no,
	 		n.emp_no,
	 		nf_content,
	 		nf_date,
	 		n.status,
	 		e.emp_name,
	 		e.profile,
	 		p.pr_title
 		from newsfeed n
 		join project p on p.pr_no = n.pr_no
 		join employee e on e.emp_no = n.emp_no
 		where n.emp_no = #{empNo}
 		and n.status = 'Y' 
 </select>
 
 <select id="newsProject" resultMap="NewsfeedList">
 	select
 		pr_title
 		,pr_logo
 		,p.pr_no
 	from project p
 	join prmember pr on pr.pr_no = p.pr_no
 	where pr.emp_no = #{empNo}
 	and pr_enddate >= to_char(sysdate, 'mm/dd/yyyy') 
 </select>
 
 <!-- 프로젝트 내 뉴스피드 조회 -->

<select id="prNewsfeed" resultMap="NewsfeedList">
	select
		nf_no
		,n.pr_no
		,n.emp_no
		,nf_content
		,nf_date
		,e.emp_name
		,e.profile
		,p.pr_title
        ,origin_name
        ,change_name
	from newsfeed n
	join project p on p.pr_no = n.pr_no
	join employee e on e.emp_no = n.emp_no
    left join attachment a on (n.nf_no = a.ref_no and ref_code = 'NF')
	where p.pr_no = #{prNo}
	and n.status = 'Y' 
</select>
 
 <select id="nfNo" resultMap="NewsfeedList">
 	select
 		nf_no
 		,n.pr_no
 		,n.emp_no
 		,nf_content
 		,nf_date
 		,e.emp_name
 		,e.profile
 		,p.pr_title
 	from newsfeed n
 	join project p on p.pr_no = n.pr_no
 	join employee e on e.emp_no = n.emp_no
 	where n.nf_no = #{nfNo} 
 </select>
 
 <insert id="insertFeed">
 	insert
 		into newsfeed
 		(
 		nf_no
 		, nf_content
 		, nf_date
 		, pr_no
 		, emp_no
 		)
 		values
 		(
 		seq_nfno.nextval
 		, #{nfContent}
 		, sysdate
 		, #{prNo}
 		, #{empNo}
 		) 
 </insert>

<insert id="insertAttachment">
	insert
		into attachment
		(
		attachment_no
		, file_path
		, origin_name
		, change_name
		, ref_code
		, ref_no
		)
		values
		(
		seq_atno.nextval
		, #{filePath}
		, #{originName}
		, #{changeName}
		, 'NF'
		, seq_nfno.currval
		) 
</insert>

<select id="prAttachment" resultMap="attachment">
	select 
		attachment_no
		, origin_name
		, change_name
		, file_path
		, ref_no
		from attachment
		where ref_Code = 'NF'
		and ref_no = #{nfNo} 
</select>

<update id="deleteFeed">
	update
		newsfeed
	set status = 'N'
	where nf_no = #{nfNo}
</update>
 
<insert id="insertReply">
		insert
		  into reply
		     (
		       reply_no
		     , emp_no
		     , ref_code
		     , ref_no
		     , reply_content
		     , create_date
		     , status
		     , reply_origin_no
             , reply_branch
		     )
		values
		     (
		       seq_reply.nextval
		     , #{empNo}
		     , 'NF'
		     , #{refNo}
		     , #{replyContent}
		     , sysdate
		     , 'Y'
		     , 0
		     , 1
		     )
</insert>

<select id="feedReplyList" resultMap="replylist">
		select 
		 	   reply_no
		     , r.emp_no
		     , emp_name
		     , reply_content
		     , create_date
		  from reply r
		  join employee e on e.emp_no = r.emp_no 
		 where ref_code = 'NF'
		   and r.status = 'Y'
		   and ref_no = #{nfNo}
</select>

<update id="updateFeed">
	update
		board
		set nf_content = #{nfContent}
	   where nf_no = #{nfNo}
</update>
</mapper>