<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
 
<mapper namespace="prmemberMapper">

	<resultMap type="Prmember" id="prMemberList">
		<result column="pr_no" property="prNo"  />
		<result column="emp_no" property="empNo"  />
	</resultMap>

<select id="searchMember" resultMap="prMemberList">
select
	emp_no
    emp_name
 from prmember p
 join employee e on e.emp_no = p.emp_no
 where emp_name like '%' || #{search} || '%' 	
</select>

</mapper>